<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Login Dineverse"
    />
    <meta
      name="keyword"
      content="Dineverse"
    />
    <link
      rel="icon"
      href="/Public/assets/logo/dv-profil-4.png"
      type="image/x-icon"
    />
    <!-- Favicon-->
    <title>{% block title %} {% endblock %} </title>
    <!-- Application vendor css url -->
    <!-- project css file  -->
    <link rel="stylesheet" href="/Public/assets/css/luno-style.css" />
    <!-- Jquery Core Js -->
    <script src="/Public/assets/js/plugins.js"></script>
  </head>

  <body id="layout-1" data-luno="theme-red">
    <!-- start: body area -->
    <div class="wrapper">
      <!-- start: page body -->
      <div class="page-body auth px-xl-4 px-sm-2 px-0 py-lg-2 py-1">
        <div class="container-fluid">{% block body %} {% endblock %}</div>
      </div>
    </div>
    <!-- Jquery Page Js -->
    <!-- Jquery Page Js -->
    <script src="/Public/assets/js/theme.js"></script>
    <!-- Plugin Js -->
    <!-- Vendor Script -->
  </body>
</html>
