<script src="/App/Views/forcast/scripts/food_sales_actual.js"></script>
<script src="/App/Views/forcast/scripts/beverages_sales_actual.js"></script>
<script src="/App/Views/forcast/scripts/food_demand.js"></script>
<script src="/App/Views/forcast/scripts/beverage_demand.js"></script>
<script src="/App/Views/forcast/scripts/inventory.js"></script>
<script src="/App/Views/forcast/scripts/labor.js"></script>
<script src="/App/Views/forcast/scripts/sales_trend_forecasting.js"></script>
<script src="/App/Views/forcast/scripts/sales_vs_forcast.js"></script>