<script src="/App/Views/inventory/scripts/inventory_level.js"></script>
<script src="/App/Views/inventory/scripts/current_previous_prices.js"></script>
<script src="/App/Views/inventory/scripts/price_comparison.js"></script>
<script src="/App/Views/inventory/scripts/cost_sales_price.js"></script>
<script src="/App/Views/inventory/scripts/weekly_turnover.js"></script>
<script src="/App/Views/inventory/scripts/realtime_usage.js"></script>
<script src="/App/Views/inventory/scripts/items.js"></script>